html {
  font-size: 14px;
}

.center-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

@font-face {
  font-family: VT323;
  src: url(~/css/Pokemon.ttf);
}

body {
  margin-bottom: 60px;
  background: whitesmoke;
  /* background-color: rgb(65, 65, 65); */
  font-family: 'VT323', sans-serif;
}

/* Navbar styling */
.navbar {
  background-color: #f8f9fa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #343a40;
}

.user-nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #343a40;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #007bff;
}

.customBtn{
  background: linear-gradient(90deg, #FB1B1B 50%, black 50%, black 51%, rgb(236, 239, 234) 51%);
  border-radius: 10px;
}

.customBtn:hover{
  background: linear-gradient(90deg, rgb(236, 239, 234) 50%, black 50%, black 51%, #FB1B1B 51%);
}

.hoverRed{
  color: white;
}

.hoverWhite{
  color: red;
}

.customBtn:hover .hoverRed{ 
  color: red; 
}

.customBtn:hover .hoverWhite{ 
  color: white; 
}

/* Card styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  font-family: 'VT323', sans-serif;
}

.whiteColorText{
  color: white;
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'VT323', sans-serif;

  border: 1px solid #ddd;
  border-radius: 50px;
  border: 2px solid black;

  width: 250px;
  padding: 15px;
  margin: 10px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #FB1B1B 50%, black 50%, black 52%, #ddd 52%); 

  transition: transform 0.3s, box-shadow 0.2s ease;
  border: 2px solid black;
  background-size: 200% 100%;
  background-position: right bottom;
}

.card-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}


.card-content:hover img {
  transform: scale(1.1) translateY(-8px);
  transition: transform 0.4s ease;
}

.card-container a {
  text-decoration: none;
  color: black;
  cursor: pointer; 
}

.card-content p {
  margin: 5px;
}

/* Type Selector Styling */
.checkbox-container {
  display: inline-block;
  border: solid rgb(205, 201, 201) 1px;
  border-radius: 4px;
  padding: 8px;
  margin: 2px;
  transition: filter 0.2s, border 0.2s ease;
}

.checkbox-container:hover {
  filter: saturate(350%);
  border: solid black 1px;
}

.custom-checkbox {
  transform: scale(1.5);
  margin-right: 3px;
}

.types-container {
  margin-top: 10px;
}

.type-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.type-label {
  color: white;
  min-width: 50px;
  text-align: center;
  font-weight: 550;
}

.Normal {
  background: rgb(156, 151, 153);
}

.Fire {
  background: rgb(209, 44, 44);
}

.Water {
  background:rgb(44, 105, 209);
}

.Electric { 
  background:rgb(237, 241, 22);
}

.Grass {
  background: rgb(115, 216, 20);
}

.Ice {
  background: rgb(122, 222, 255);
}

.Fighting {
  background: rgb(248, 132, 37);
}

.Poison {
  background: rgb(190, 108, 228);
}

.Ground {
  background: rgb(139, 95, 46);
}

.Flying {
  background: rgb(122, 169, 255);
}

.Psychic {
  background: rgb(229, 63, 104);
}

.Bug {
  background: rgb(67, 155, 8);
}

.Rock {
  background: rgb(182, 142, 83);
}

.Ghost {
  background: rgb(130, 77, 166);
}

.Dragon {
  background: rgb(255, 90, 30);
}


.animated-table tr:hover{
  background-color: rgb(234, 186, 186);
}

/* Blue "+" add pokemon to list button */
.add-pokemon-form {
  position: absolute;  
  top: 0px;
  right: 0px;     
  z-index: 10;   
}

.add-to-list-btn {
  background-color: blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none; 
  color: white;
  font-size: 20px; 
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-to-list-btn:hover {
  background-color: deepskyblue;
}

.uppercase {
  text-transform: capitalize;
}