html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}



.card-content:hover .whiteColorText{
  color: white;
}

.redColorText{
  color: red;
}

.card-content {
  border: 1px solid #ddd;
  border-radius: 50px;
  border: 2px solid black;


  width: 250px;
  padding: 15px;
  margin: 10px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: F9F9F8;

  transition: transform 0.2s, box-shadow 0.2s, background-color .3s;
  border: 2px solid black; /* Add border */
  background: linear-gradient(to right, #FF3B3F 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.card-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #FB1B1B 50%, black 50%, black 52%, #F9F9F8 52%); 
}


.customBtn{
  background: linear-gradient(90deg, #FB1B1B 50%, black 50%, black 52%, white 52%);
}

.customBtn:hover{
  background: linear-gradient(90deg, white 50%, black 50%, black 52%, #FB1B1B 52%);
}

.hoverRed{
  color: white;
}
.hoverWhite{
  color: red;
}
.customBtn:hover .hoverRed{ 
  color: red; 
}
.customBtn:hover .hoverWhite{ 
  color: white; 
}
.card-content:hover img {
  transform: scale(1.1) translateY(-8px);
  transition: transform 0.2s ease;
}

.card-container a {
  text-decoration: none;
  color: black;
  cursor: pointer; 
}

.card-content p {
  margin: 5px;
}

/* .custom-checkbox + label {
  display: inline-block;
  border-radius: 3px;
  padding: 3px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
} */

.checkbox-container {
  display: inline-block;
  border: solid black 1px;
  border-radius: 4px;
  padding: 8px;
  margin: 2px;
}

.custom-checkbox {
  transform: scale(1.5);
  margin-right: 3px;
}

.Normal {
  background: rgb(132, 121, 125);
}

.Fire {
  background: #e42a0e;
}

.Water {
  background:rgb(44, 105, 209)
}

.Electric { 
  background:rgb(237, 241, 22)
}

.Grass {
  background: rgb(115, 216, 20);
}

.Ice {
  background: rgb(122, 169, 255);
}

.Fighting {
  background: rgb(248, 132, 37);
}

.Poison {
  background: rgb(190, 108, 228);
}

.Ground {
  background: linear-gradient(#f0c844 50%, rgb(174, 119, 57) 50%);
}

.Flying {
  background: linear-gradient(rgb(122, 169, 255) 50%, rgb(156, 164, 163) 50%);
}

.Psychic {
  background: rgb(229, 63, 104);
}

.Bug {
  background: rgb(67, 155, 8);
}

.Rock {
  background: rgb(176, 108, 6);
}

.Ghost {
  background: rgb(130, 77, 166);
}

.Dragon {
  background: linear-gradient(rgb(44, 105, 209) 50%, rgb(226, 99, 53) 50%);
}


.animated-table tr:hover{
  background-color: rgb(234, 186, 186);
}
