<!-- @{
    Layout = "_Layout";
}
@using PokedexClient.Models
@model PokedexClient.Models.Pokemon

 <div class="container">
 <h1>Pokedex Details</h1>
 <h3>@Html.DisplayNameFor(model => model.Name) @Html.DisplayFor(model => model.Name)</h3>

 <h3>@Html.DisplayNameFor(model => model.Number) @Html.DisplayFor(model => model.Number)</h3>
 </div>

  -->

