<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PokedexClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PokedexClient.styles.css" asp-append-version="true" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"> 
                Pokédex
                </a>
                <div class="navbar-collapse collapse">
                    @* Site Nav *@
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Pokemons" asp-action="Search">Search</a>
                        </li>
                    </ul>
                    <div class="centered-image">
                    <a class="nav-link text-dark" asp-controller="Pokemons">
                    
                    <img src="pokeball.png" alt="pokeball" style="max-width: 30px; max-height: 30px; vertical-align: middle;">
                    
                    </a>
                    </div>
                    @* User Nav *@
                    <ul class="navbar-nav flex-grow-1 user-nav">
                        @if (User.Identity.IsAuthenticated) 
                        {
                            var username = User.Identity.Name;
                            <li class="nav-item">
                                <a class="nav-link text-dark">@username || </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-link nav-link text-dark" asp-controller="Accounts" asp-action="Profile">
                                    My Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <form 
                                    asp-controller="Accounts" 
                                    asp-action="LogOff" 
                                    method="post" 
                                    style="display: inline;"
                                >
                                    <button type="submit" class="btn btn-link nav-link text-dark">Log Out</button>
                                </form>
                            </li>
                        } 
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-link nav-link text-dark" asp-controller="Accounts" asp-action="Register">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-link nav-link text-dark" asp-controller="Accounts" asp-action="Login">Log in</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Pokédex
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
